Repository fixplzz/fixplz-FE, pull requests merged in 2023-11, with the labels that each got.

#14 [Page] 로그인 화면 구현, scss 적용
  fixplz-web/public/assets/imgs/whitelogo.png
  fixplz-web/src/App.js
  fixplz-web/src/admin/assets/scss/login-page.scss
  fixplz-web/src/admin/pages/main/login-page.jsx
Labels: 🤍 CSS, ✨Page

#17 [Page] 신고 템플릿 페이지 및 완료 페이지 ui 구현
  .idea/.gitignore
  .idea/fixplz-FE.iml
  .idea/modules.xml
  .idea/vcs.xml
  fixplz-web/package-lock.json
  fixplz-web/package.json
  fixplz-web/public/index.html
  fixplz-web/src/App.js
  fixplz-web/src/assets/styles/global-styles.js
  fixplz-web/src/index.js
  fixplz-web/src/users/asset/image/complete.svg
  fixplz-web/src/users/asset/image/plusimage.svg
  fixplz-web/src/users/asset/image/webmainlogo.svg
  fixplz-web/src/users/asset/styles/_mixin.scss
  fixplz-web/src/users/asset/styles/_variable.scss
  fixplz-web/src/users/asset/styles/main.scss
  fixplz-web/src/users/asset/styles/reportComplete.scss
  fixplz-web/src/users/asset/styles/template-page.scss
  fixplz-web/src/users/components/report-category.jsx
  fixplz-web/src/users/pages/template-page/kakao-map.jsx
  fixplz-web/src/users/pages/template-page/reportComplete.jsx
  fixplz-web/src/users/pages/template-page/template-page.jsx
Labels: 🌈 UI, ✨Page, 🖥️ WEB

#20 [Feat] 신고 작성 폼 기능 구현
  fixplz-web/src/App.js
  fixplz-web/src/users/asset/styles/templateCheck.scss
  fixplz-web/src/users/asset/styles/templatePage.scss
  fixplz-web/src/users/components/report-category.jsx
  fixplz-web/src/users/pages/kakaoMap.jsx
  fixplz-web/src/users/pages/reportComplete.jsx
  fixplz-web/src/users/pages/templateCheck.jsx
  fixplz-web/src/users/pages/templatePage.jsx
  fixplz-web/src/users/reportContext.js
Labels: ➕ Feature, ✨Page, 🖥️ WEB

#23 feat: 전화번호 인증 로직 구현 완료
  fixplz-web/src/users/asset/image/fin.svg
  fixplz-web/src/users/asset/styles/templatePage.scss
  fixplz-web/src/users/pages/kakaoMap.jsx
  fixplz-web/src/users/pages/reportComplete.jsx
  fixplz-web/src/users/pages/templateCheck.jsx
  fixplz-web/src/users/pages/templatePage.jsx
Labels: ⚡ API, ➕ Feature

#28 feat: 관리자 페이지 구현
  fixplz-web/src/App.js
  fixplz-web/src/admin/assets/scss/admin-page.scss
  fixplz-web/src/admin/assets/scss/main-page.scss
  fixplz-web/src/admin/assets/svg/maincom.svg
  fixplz-web/src/admin/assets/svg/maining.svg
  fixplz-web/src/admin/assets/svg/mainload.svg
  fixplz-web/src/admin/pages/admin-page.jsx
  fixplz-web/src/admin/pages/facility/facility-map.jsx
  fixplz-web/src/admin/pages/main/main-page.jsx
  fixplz-web/src/users/pages/kakaoMap.jsx
Labels: ➕ Feature, 🌈 UI, ✨Page

#29 [Feature] - {FACILITY} 시설물 등록 기능 구현
  fixplz-web/.gitignore
  fixplz-web/package-lock.json
  fixplz-web/package.json
  fixplz-web/src/App.js
  fixplz-web/src/admin/assets/scss/admin-page.scss
  fixplz-web/src/admin/assets/scss/modal.scss
  fixplz-web/src/admin/assets/scss/pagination.scss
  fixplz-web/src/admin/components/category/select-category.jsx
  fixplz-web/src/admin/components/customhooks/use-check-control.jsx
  fixplz-web/src/admin/components/facility/facility-regist.jsx
  fixplz-web/src/admin/components/facility/facility-update.jsx
  fixplz-web/src/admin/components/modal/custom-modal.jsx
  fixplz-web/src/admin/components/modal/modal-btn.jsx
  fixplz-web/src/admin/components/pagination/custom-pagination.jsx
  fixplz-web/src/admin/components/post/daum-post.jsx
  fixplz-web/src/admin/components/search/admin-search.jsx
  fixplz-web/src/admin/components/search/search-box.jsx
  fixplz-web/src/admin/components/sidebar/side-bar.jsx
  fixplz-web/src/admin/pages/admin-page.jsx
  fixplz-web/src/admin/pages/facility/facility-page.jsx
  fixplz-web/src/admin/pages/facility/inner/facility-content.jsx
  fixplz-web/src/users/pages/kakaoMap.jsx
  fixplz-web/src/users/pages/templatePage.jsx
Labels: ⚡ API, 🤍 CSS, 🌈 UI
